
.buttonn
{
    -fx-background-color:#02030A;
    -fx-text-fill:#e7e5e5;
}

.buttonn:hover
{
    -fx-background-color:#10165F;
}

.buttonn:pressed
{
    -fx-background-color:#1620A1;    
}

.scrollpane
{
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical
{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button
{
    -fx-background-color: transparent;
    -fx-border-color: transparent; 
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb
{
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scrollpane > .corner
{
    -fx-background-color:black;
}